<!DOCTYPE html>
<html>
    <head>
        <%= render 'shared/header' %>
    </head>
    
    <body>
        <div class='header'>
            <p class='center'> < To List</p>
        </div>
        
        <div class='menu'></div>
        
        <div class='info'>
            <img src="<%=@album.album_art_url%>">
            <h3>Artist: <%=@album.artist%></h3>
            <h3>Running Length: <%=@album.track_no%> tracks</h3>
            <h3>Running Time:  minutes</h3>
        </div>
        
        <div class='main'>
            <h1><%= @album.name %></h1>
            <p><%=@album.summary%> </p>
        </div>
    </body>
</html>