<!DOCTYPE html>
<html>
    <head>
        <% content_for :title, @album.name %>
        <%= render 'shared/header' %>
    </head>
    
    <body>
        <div class="row" id="art" style="background-image: url(<%=@album.album_art_url_large%>);"></div> 
        
        <div class="row" id="summary">
            <div class="col-md-8">
                <div id="title">
                    <h1><%=@album.name %></h1>
                    <h2>By <%=@album.artist%></h2>
                </div>
                
                
                
                <p style="color:black"><%=@album.summary%> </p>
                
                <h4>Running Length: <%=@album.track_no%> tracks</h3>
                <h4>Running Time:  minutes</h3>
            </div>
        </div>
    </body>
</html>